.cart{
    background-color: #333;
    width: fit-content;
    border-radius: 100%;
  }
  
  .cart img{
    padding: 0.5rem;
    position: absolute;
  }

  .position{
    position: relative;
  }

  .badgeCart{
    background-color: #eee;
    opacity: 0.9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    padding: 2px;
    height: 50%;
}